$screen-xl: 1770px // less than 1920px
$screen-lg: 1440px // less than $screen-max
$screen-md: 1228px // less than $screen-lg
$screen-sm: 768px // less than $screen-md
$screen-xs: 480px // less than $screen-sm

$screen: ("xs": $screen-xs,"sm": $screen-sm,"md": $screen-md,"lg": $screen-lg,"xl": $screen-xl,)

$heading-1: 54px // h1
$heading-2: 42px // h2
$heading-3: 30px // h3
$heading-4: 27px // h4
$heading-5: 22px // h5

$text-size-1: 16px // all text
$text-size-2: 18px // accent text

$accent: #BB3D44
$color: #2F374A
$text: #1D2842


