// Clear default browser settings
@import './__clear.scss';

h1 {
	font-size: $heading-1;
}
h2 {
	font-size: $heading-2;
}
h3 {
	font-size: $heading-3;
}
h4 {
	font-size: $heading-4;
}
h5 {
	font-size: $heading-5;
}

.text {
	&--default {
		font-size: $text-size-1;
	}
	&--accent {
		font-size: $text-size-2;
	}
}
