$screen-max: 1410px; // less than 1920px
$screen-lg: 1200px; // less than $screen-max
$screen-md: 1024px; // less than $screen-lg
$screen-sm: 768px; // less than $screen-md
$screen-xs: 480px; // less than $screen-sm

$heading-1: 420px; // h1
$heading-2: 72px; // h2
$heading-3: 36px; // h3
$heading-4: 48px; // h4
$heading-5: 20px; // h5

$text-size-1: 16px; // all text
$text-size-2: 18px; // accent text
