@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-style: thin;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: light;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-style: black;
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-style: thin;
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: light;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: 700;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: black;
  font-weight: 900;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

input:active, input:focus, input:hover,
button:active,
button:focus,
button:hover {
  outline: none;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 22px;
}

.text--default {
  font-size: 16px;
}

.text--accent {
  font-size: 18px;
}

.container {
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
  width: 1770px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1770px) {
  .container {
    width: 1440px;
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    width: 1228px;
  }
}

@media only screen and (max-width: 1228px) {
  .container {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 480px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
}

body {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

a {
  color: #2F374A;
  text-decoration: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 15px;
}

ul li:hover > a {
  color: #BB3D44;
}

ul li:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul ul {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 2;
  top: 100%;
  left: 0;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 22px;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  line-height: 1.6em;
}

.btn {
  border-radius: 8px;
  padding: 20px 30px;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
}

.btn-red {
  background-color: #BB3D44;
  color: #fff;
  border: none;
}

form input[type="text"] {
  padding: 20px 30px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #ffffff;
}

.cube {
  position: relative;
  z-index: 2;
}

.cube:hover::before {
  opacity: 1;
  top: -5px;
}

.cube::before {
  content: '';
  position: absolute;
  top: 25px;
  background-image: url("/img/cube.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  opacity: 0;
  display: block;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

a.next {
  position: relative;
  width: 100%;
  display: inline-block;
  padding-right: 50px;
}

a.next::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("/img/arr-l.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 20px;
}

.arr-left, .arr-right {
  background-image: url(/img/arr2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 30px;
  margin: auto;
  display: block;
}

.arr-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header {
  margin: 0 auto;
  padding: 0 60px;
  background-color: #ffffff;
}

header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header .header_top .logo-wrap {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

header .header_top .logo-wrap .logo {
  min-width: 80px;
  padding: 0 30px 0 0;
}

header .header_top .logo-wrap .logo img {
  width: 100%;
}

header .header_top .logo-wrap .logo-text {
  font-style: 18px;
  text-transform: uppercase;
  width: 380px;
}

header .header_top .menu-wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_top .menu-wrap ul li.parent {
  position: relative;
}

header .header_top .menu-wrap ul li.parent::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-image: url("../../img/arr.svg");
  width: 20px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header .header_top .menu-wrap ul li.parent-top {
  text-align: right;
  margin-left: 60px;
}

header .header_top .menu-wrap ul li.parent-top span {
  width: 5px;
  height: 5px;
  background: #2F374A;
  position: relative;
  display: inline-block;
  margin: 2px 0;
  border-radius: 50%;
}

header .header_top .menu-wrap ul li.parent-top span::before, header .header_top .menu-wrap ul li.parent-top span::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #2F374A;
  border-radius: 50%;
  top: 9px;
  left: 0;
}

header .header_top .menu-wrap ul li.parent-top span::after {
  top: auto;
  bottom: 9px;
}

header .header_top .menu-wrap ul li.parent-top a {
  display: inline-block;
  margin-left: 15px;
}

header .header_top .lang-wrap {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header .header_top .lang-wrap ul.lang {
  margin: 0;
}

header .header_top .lang-wrap ul.lang li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_top .lang-wrap ul.lang li.active {
  background: #E8E6EB;
}

header .header_top .lang-wrap ul.lang li:hover {
  background: #E8E6EB;
}

#top-menu-wrap {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

#top-menu-wrap .cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#top-menu-wrap .col {
  width: 20%;
  margin: 15px;
}

#top-menu-wrap .col-2 {
  width: 50%;
}

#s-two, #s-three {
  background: #E2E1E4;
}

#s-one .container, #s-two .container, #s-three .container {
  width: 100%;
}

.s-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-block_one .left-wrap {
  padding-top: 220px;
  padding-bottom: 120px;
  position: relative;
}

.s-block_one .left-wrap .element {
  width: 115px;
  height: 115px;
  background: rgba(249, 249, 251, 0.5);
  display: block;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.s-block_one .left-wrap .element::before, .s-block_one .left-wrap .element::after {
  content: '';
  position: absolute;
  display: block;
  background: rgba(249, 249, 251, 0.5);
}

.s-block_one .left-wrap .element::before {
  width: 75px;
  height: 75px;
  right: 160px;
  bottom: 40px;
}

.s-block_one .left-wrap .element::after {
  width: 50px;
  height: 50px;
  bottom: 150px;
  right: 65px;
}

.s-block_one .content {
  padding: 0 45px;
}

.s-block .b-block {
  width: 50%;
}

.s-block .left-wrap.b-color {
  background: linear-gradient(131.57deg, #FDFCFF 2.48%, #D2D0D7 96.33%);
  -webkit-box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
          box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
  color: #1D2842;
}

.s-block .left-wrap .content h1 {
  text-transform: uppercase;
}

.s-block .left-wrap .content .form-wrap input[type="text"] {
  background-color: #FDFCFD;
  width: 200px;
  margin-right: 30px;
}

.s-block .left-wrap .content .form-wrap input[type="text"]::-webkit-input-placeholder {
  color: #1D2842;
}

.s-block .left-wrap .content .form-wrap input[type="text"]:-ms-input-placeholder {
  color: #1D2842;
}

.s-block .left-wrap .content .form-wrap input[type="text"]::-ms-input-placeholder {
  color: #1D2842;
}

.s-block .left-wrap .content .form-wrap input[type="text"]::placeholder {
  color: #1D2842;
}

.s-block .left-wrap .content .form-wrap .btn {
  margin-top: 15px;
  display: block;
}

.s-block .left-wrap .link-down {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.s-block .right-wrap .slider-wrap .slider {
  position: relative;
}

.s-block .right-wrap .slider-wrap .slider img {
  height: 100%;
  width: auto;
}

.s-block .right-wrap .slider-wrap .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/banner/cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.s-block .right-wrap .slider-wrap .slider .title {
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 70%;
  text-transform: uppercase;
}

.s-block .right-wrap .slider-wrap .owl-stage-outer {
  z-index: 0;
}

.s-block .right-wrap .slider-wrap .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 85%;
  position: absolute;
  bottom: 55px;
  z-index: 0;
}

.s-block .right-wrap .slider-wrap .owl-nav .owl-next, .s-block .right-wrap .slider-wrap .owl-nav .owl-prev {
  background-color: rgba(29, 40, 66, 0.05);
  width: 60px;
  height: 60px;
}

.s-block_two {
  padding-top: 50px;
}

.s-block_two .left-wrap {
  width: 30%;
  padding-top: 0;
  margin-top: 0;
}

.s-block_two .left-wrap .news-wrap {
  background-color: #2F374A;
  color: #ffffff;
  position: relative;
  min-height: 850px;
}

.s-block_two .left-wrap .news-wrap_title {
  margin: 0;
  padding: 50px 0 40px 40px;
}

.s-block_two .left-wrap .news-wrap_list-wrap {
  max-height: 700px;
  overflow-y: scroll;
  margin-right: 5px;
}

.s-block_two .left-wrap .news-wrap_list-wrap::-webkit-scrollbar {
  width: 8px;
}

.s-block_two .left-wrap .news-wrap_list-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.s-block_two .left-wrap .news-wrap_list-wrap::-webkit-scrollbar-thumb {
  background-color: #8A94A4;
  border-radius: 15px;
}

.s-block_two .left-wrap .news-wrap .b-news {
  background-color: #444B5E;
  width: 90%;
  margin: 15px auto 15px;
  position: relative;
  border: 4px solid #444B5E;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.s-block_two .left-wrap .news-wrap .b-news:hover {
  border: 4px solid #fff;
}

.s-block_two .left-wrap .news-wrap .b-news:hover a.link-more_detail svg {
  stroke: #fff;
}

.s-block_two .left-wrap .news-wrap .b-news .content {
  padding: 40px;
}

.s-block_two .left-wrap .news-wrap .b-news .title {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

.s-block_two .left-wrap .news-wrap .b-news .title a {
  color: #fff;
}

.s-block_two .left-wrap .news-wrap .b-news a.link-more_detail {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.s-block_two .left-wrap .news-wrap .b-news a.link-more_detail svg {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  stroke: #2F374A;
}

.s-block_two .left-wrap .news-wrap a.link-more {
  color: #ffffff;
  position: absolute;
  right: 5%;
  top: 50px;
}

.s-block_two .right-wrap {
  width: 70%;
}

.s-block_two .right-wrap .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.s-block_two .right-wrap .cards .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  background: #FBFCFF;
  -webkit-box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
          box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
  margin-bottom: 50px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: #F1F1F3;
  -webkit-transition: background-image .15s ease-in-out;
  transition: background-image .15s ease-in-out;
}

.s-block_two .right-wrap .cards .card .title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 40px;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
}

.s-block_two .right-wrap .cards .card .title:hover a {
  color: #BB3D44;
}

.s-block_two .right-wrap .cards .card:nth-child(1) {
  z-index: 6;
}

.s-block_two .right-wrap .cards .card:nth-child(2) {
  z-index: 5;
}

.s-block_two .right-wrap .cards .card:nth-child(3) {
  z-index: 4;
}

.s-block_two .right-wrap .cards .card:nth-child(4) {
  z-index: 3;
}

.s-block_two .right-wrap .cards .card:nth-child(5) {
  z-index: 2;
}

.s-block_two .right-wrap .cards .card:nth-child(6) {
  z-index: 1;
}

.s-block_two .right-wrap .cards .card.c-1:hover {
  background-image: url("/img/b-2-1.jpg");
}

.s-block_two .right-wrap .cards .card.c-2:hover {
  background-image: url("/img/b-2-2.jpg");
}

.s-block_two .right-wrap .cards .card.c-3:hover {
  background-image: url("/img/b-2-3.jpg");
}

.s-block_two .right-wrap .cards .card.c-4:hover {
  background-image: url("/img/b-2-4.jpg");
}

.s-block_two .right-wrap .cards .card.c-5:hover {
  background-image: url("/img/b-2-5.jpg");
}

.s-block_two .right-wrap .cards .card.c-6:hover {
  background-image: url("/img/b-2-6.jpg");
}

.s-block_three {
  padding-bottom: 50px;
  overflow: hidden;
}

.s-block_three .b-block {
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
          box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
}

.s-block_three .content {
  position: relative;
}

.s-block_three .content .title {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#s_head {
  background: linear-gradient(131.57deg, #F8F8F8 2.48%, #D2D0D7 96.33%);
}

#s_head .breadcrumbs-wrap {
  padding: 60px;
}

#s_head .breadcrumbs-wrap ul li {
  padding: 0 10px 0 15px;
  margin: 0;
  position: relative;
}

#s_head .breadcrumbs-wrap ul li::before {
  content: '\2022';
  position: absolute;
  top: 0;
  left: 0;
}

#s_head .breadcrumbs-wrap ul li.main {
  padding: 0 10px 0 0;
}

#s_head .breadcrumbs-wrap ul li.main::before {
  display: none;
}

#s_head .breadcrumbs-wrap ul li.main a {
  color: #6B6E75;
}

.block-page {
  padding: 0 60px;
}

.b-page_title {
  max-width: 750px;
  margin: 0 0 0 150px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.b-page .title-100 {
  max-width: 100%;
}

.b-page_desc {
  width: 50%;
  min-width: 450px;
  margin: 70px 0 0 50px;
}

.b-page [data-tab-content] {
  display: none;
}

.b-page .active[data-tab-content] {
  display: block;
}

.b-page .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  background-color: #E3E2E7;
}

.b-page .tab {
  cursor: pointer;
  padding: 10px;
  width: 33.33%;
  text-align: center;
}

.b-page .tab h4 {
  margin: 15px auto;
  display: inline-block;
  position: relative;
}

.b-page .tab h4::before {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #BB3D44;
  display: block;
  top: 50%;
  left: -16px;
  margin-top: -8px;
  opacity: 0;
}

.b-page .tab.active {
  background-color: #F7F7F7;
}

.b-page .tab.active h4::before {
  left: -36px;
  opacity: 1;
}

.b-page .tab:hover {
  background-color: #F7F7F7;
}

.b-page .tab:hover h4 {
  color: #BB3D44;
}

.b-page_content-wrap {
  padding: 60px;
  max-width: 1024px;
  text-align: justify;
}

.b-page_content-wrap.b-page_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  max-width: 90%;
}

.b-page_content-wrap p {
  text-align: justify;
}

.b-page_content-wrap ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b-page_content-wrap ul li {
  display: block;
}

.b-page_content-wrap ol li {
  margin-bottom: 15px;
  line-height: 1.6em;
}

.b-page_content-wrap .tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

.b-page_content {
  padding-left: 150px;
  line-height: 1.6em;
}

.b-page_content ul li {
  position: relative;
}

.b-page_content ul li::before {
  content: '';
  position: absolute;
  left: -5px;
  top: 25px;
  width: 8px;
  height: 8px;
  background: #2F374A;
}

.b-page_content table {
  width: 100%;
  border-top: 8px solid #2F374A;
}

.b-page_content table th {
  color: #2F374A;
  font-size: 16px;
  text-align: left;
}

.b-page_content table td {
  border-bottom: 1px solid #2F374A;
  padding: 0 5px;
}

.b-page_content table td, .b-page_content table p {
  text-align: left;
  font-size: 16px;
}

.b-page_left {
  width: 35%;
}

.b-page_right {
  width: 75%;
  padding: 75px;
}

.b-page_menu {
  background-color: #ffffff;
  padding: 75px;
  position: relative;
}

.b-page_menu::after {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 100%;
  display: block;
}

.b-page_menu ul li {
  border-radius: 8px;
  border-left: 8px solid transparent;
  text-align: left;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.b-page_menu ul li:hover {
  background-color: #D8D8E3;
  border-left: 8px solid #BB3D44;
}

.news-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px -15px 50px;
}

.news-list-wrap .news {
  width: calc(1/4*100% - 30px);
  margin: 0 15px 30px;
  background-color: #E3E2E7;
}

.news-list-wrap .news .img-wrap {
  overflow: hidden;
  max-height: 300px;
}

.news-list-wrap .news .img-wrap img {
  width: 100%;
  height: 100%;
}

.news-list-wrap .news .content-wrap {
  padding: 15px 15px 45px;
}

.news-list-wrap .news .title {
  text-transform: uppercase;
}

.news-list-wrap .news .date {
  font-size: 16px;
  margin-top: 15px;
}

.p-50 {
  padding-top: 50px;
}

.p-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.p-cards .p-card {
  background-color: #EAE9EC;
  width: calc( 100%/2 - 30px);
  text-align: left;
  margin: 0 15px 30px;
  min-height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.p-cards .p-card .title {
  padding: 15px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.p-cards .p-card .name {
  padding: 15px;
}

.p-cards .p-card p {
  margin: 0;
}

.p-cards.cards-4 .p-card {
  width: calc( 100%/4 - 40px);
}

.p-cards_list .p-card {
  width: calc( 100%/2 - 38px);
  min-height: inherit;
  border: 4px solid transparent;
}

.p-cards_list .p-card:hover {
  border: 4px solid #E3E2E7;
  background-color: #ffffff;
}

.p-cards_list .p-card a {
  padding: 15px;
}

.p-cards_list .p-card a:hover {
  color: #BB3D44;
}

footer {
  background-color: #2F374A;
  color: #ffffff;
  padding: 55px;
  min-height: 200px;
}

footer .title {
  font-size: 20px;
  font-weight: 700;
}

footer .left-wrap .contact-wrap {
  font-weight: 400;
}

footer .left-wrap .contact-wrap .b-block {
  position: relative;
  width: 100%;
  display: block;
  float: left;
}

footer .left-wrap .contact-wrap .b-block .title {
  width: 150px;
}

footer .left-wrap .contact-wrap .b-block p {
  float: left;
}

footer .left-wrap .contact-wrap a {
  color: #fff;
  display: block;
  margin: 10px 0;
}

footer .right-wrap {
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}

footer .right-wrap .counter-wrap {
  margin-bottom: 50px;
}

footer .right-wrap .copy {
  font-size: 14px;
}

footer .right-wrap .copy a {
  color: rgba(255, 255, 255, 0.5);
  line-height: .9em;
}

footer .right-wrap .copy img {
  margin-left: 5px;
  vertical-align: bottom;
}
/*# sourceMappingURL=custom.css.map */