@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-style: thin;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: light;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-style: black;
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-style: thin;
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: light;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: 700;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: black;
  font-weight: 900;
}

body {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
  color: #2F374A;
  text-decoration: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 15px;
}

ul li:hover {
  color: #BB3D44;
}

ul li:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul ul {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 2;
  top: 100%;
  left: 0;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 54px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

.btn {
  border-radius: 8px;
  padding: 20px 30px;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
}

.btn-red {
  background-color: #BB3D44;
  color: #fff;
  border: none;
}

form input[type="text"] {
  padding: 20px 30px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #ffffff;
}

.cube {
  position: relative;
  z-index: 2;
}

.cube:hover::before {
  opacity: 1;
  top: 5px;
}

.cube::before {
  content: '';
  position: absolute;
  top: 25px;
  background-image: url("/img/cube.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  opacity: 0;
  display: block;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.arr-l {
  position: relative;
}

.arr-l::before {
  content: '';
  position: absolute;
  background-image: url("/img/arr-l.svg");
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 10px;
}

.arr-left, .arr-right {
  background-image: url(/img/arr2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 30px;
  margin: auto;
  display: block;
}

.arr-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header {
  margin: 0 auto;
  padding: 0 45px;
}

header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header .header_top .logo-wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

header .header_top .logo-wrap .logo {
  min-width: 80px;
  padding: 0 30px 0 0;
}

header .header_top .logo-wrap .logo img {
  width: 100%;
}

header .header_top .logo-wrap .logo-text {
  font-style: 18px;
  text-transform: uppercase;
  width: 380px;
}

header .header_top .menu-wrap {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_top .menu-wrap ul li.parent {
  position: relative;
}

header .header_top .menu-wrap ul li.parent::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-image: url("../../img/arr.svg");
  width: 20px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header .header_top .menu-wrap ul li.parent-top {
  text-align: right;
}

header .header_top .menu-wrap ul li.parent-top span {
  width: 5px;
  height: 5px;
  background: #2F374A;
  position: relative;
  display: inline-block;
  margin: 2px 0;
  border-radius: 50%;
}

header .header_top .menu-wrap ul li.parent-top span::before, header .header_top .menu-wrap ul li.parent-top span::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #2F374A;
  border-radius: 50%;
  top: 9px;
  left: 0;
}

header .header_top .menu-wrap ul li.parent-top span::after {
  top: auto;
  bottom: 9px;
}

header .header_top .menu-wrap ul li.parent-top a {
  display: inline-block;
  margin-left: 15px;
}

header .header_top .lang-wrap {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header .header_top .lang-wrap ul.lang {
  margin: 0;
}

header .header_top .lang-wrap ul.lang li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_top .lang-wrap ul.lang li.active {
  background: #E8E6EB;
}

header .header_top .lang-wrap ul.lang li:hover {
  background: #E8E6EB;
}

#s-two, #s-three {
  background: #F1F3F4;
}

.s-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-block_one .left-wrap {
  padding-top: 220px;
  padding-bottom: 120px;
}

.s-block_one .content {
  padding: 0 45px;
}

.s-block .b-block {
  width: 50%;
}

.s-block .left-wrap.b-color {
  background: linear-gradient(131.57deg, #FDFCFF 2.48%, #D2D0D7 96.33%);
  -webkit-box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
          box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
  color: #1D2842;
}

.s-block .left-wrap .content .form-wrap input[type="text"] {
  background-color: #FDFCFD;
  width: 200px;
  margin-right: 30px;
}

.s-block .left-wrap .content .form-wrap input[type="text"]::-webkit-input-placeholder {
  color: #1D2842;
}

.s-block .left-wrap .content .form-wrap input[type="text"]:-ms-input-placeholder {
  color: #1D2842;
}

.s-block .left-wrap .content .form-wrap input[type="text"]::-ms-input-placeholder {
  color: #1D2842;
}

.s-block .left-wrap .content .form-wrap input[type="text"]::placeholder {
  color: #1D2842;
}

.s-block .left-wrap .content .form-wrap .btn {
  margin-top: 15px;
  display: block;
}

.s-block .left-wrap .link-down {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.s-block .right-wrap .slider-wrap .slider {
  position: relative;
}

.s-block .right-wrap .slider-wrap .slider img {
  height: 100%;
  width: auto;
}

.s-block .right-wrap .slider-wrap .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/banner/cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.s-block .right-wrap .slider-wrap .slider .title {
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 70%;
}

.s-block .right-wrap .slider-wrap .owl-stage-outer {
  z-index: 0;
}

.s-block .right-wrap .slider-wrap .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 85%;
  position: absolute;
  bottom: 55px;
  z-index: 0;
}

.s-block .right-wrap .slider-wrap .owl-nav .owl-next, .s-block .right-wrap .slider-wrap .owl-nav .owl-prev {
  background-color: rgba(29, 40, 66, 0.05);
  width: 60px;
  height: 60px;
}

.s-block_two {
  padding-top: 50px;
}

.s-block_two .left-wrap {
  width: 30%;
  padding-top: 0;
  margin-top: 0;
}

.s-block_two .left-wrap .news-wrap {
  background-color: #2F374A;
  color: #ffffff;
  position: relative;
  min-height: 850px;
}

.s-block_two .left-wrap .news-wrap_title {
  margin: 0;
  padding: 50px 0 40px 40px;
}

.s-block_two .left-wrap .news-wrap_list-wrap {
  max-height: 700px;
  overflow-y: scroll;
  margin-right: 5px;
}

.s-block_two .left-wrap .news-wrap_list-wrap::-webkit-scrollbar {
  width: 8px;
}

.s-block_two .left-wrap .news-wrap_list-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.s-block_two .left-wrap .news-wrap_list-wrap::-webkit-scrollbar-thumb {
  background-color: #8A94A4;
  border-radius: 15px;
}

.s-block_two .left-wrap .news-wrap .b-news {
  background-color: #444B5E;
  width: 90%;
  margin: 15px auto 15px;
}

.s-block_two .left-wrap .news-wrap .b-news .content {
  padding: 40px;
}

.s-block_two .left-wrap .news-wrap .b-news .title {
  font-size: 20px;
  text-transform: uppercase;
}

.s-block_two .left-wrap .news-wrap a.link-more {
  color: #ffffff;
  position: absolute;
  right: 5%;
  top: 50px;
}

.s-block_two .right-wrap {
  width: 70%;
}

.s-block_two .right-wrap .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.s-block_two .right-wrap .cards .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  background: #FBFCFF;
  -webkit-box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
          box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
  margin-bottom: 50px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
}

.s-block_two .right-wrap .cards .card .title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 40px;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
}

.s-block_two .right-wrap .cards .card:nth-child(1) {
  z-index: 6;
}

.s-block_two .right-wrap .cards .card:nth-child(2) {
  z-index: 5;
}

.s-block_two .right-wrap .cards .card:nth-child(3) {
  z-index: 4;
}

.s-block_two .right-wrap .cards .card:nth-child(4) {
  z-index: 3;
}

.s-block_two .right-wrap .cards .card:nth-child(5) {
  z-index: 2;
}

.s-block_two .right-wrap .cards .card:nth-child(6) {
  z-index: 1;
}

.s-block_three {
  padding-bottom: 50px;
  overflow: hidden;
}

.s-block_three .b-block {
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
          box-shadow: 0px 9px 25px 4px rgba(156, 173, 202, 0.18);
}

.s-block_three .content {
  position: relative;
}

.s-block_three .content .title {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

footer {
  background-color: #2F374A;
  color: #ffffff;
  padding: 55px;
  min-height: 200px;
}

footer .title {
  font-size: 20px;
  font-weight: 700;
}

footer .left-wrap .contact-wrap {
  font-weight: 400;
}

footer .left-wrap .contact-wrap .b-block {
  position: relative;
  width: 100%;
  display: block;
  float: left;
}

footer .left-wrap .contact-wrap .b-block .title {
  width: 150px;
}

footer .left-wrap .contact-wrap .b-block p {
  float: left;
}

footer .left-wrap .contact-wrap a {
  color: #fff;
  display: block;
  margin: 10px 0;
}

footer .right-wrap {
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}

footer .right-wrap .counter-wrap {
  margin-bottom: 50px;
}

footer .right-wrap .copy a {
  color: rgba(255, 255, 255, 0.5);
  line-height: .9em;
}

footer .right-wrap .copy img {
  margin-left: 5px;
  vertical-align: bottom;
}
