@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-style: thin;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: light;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-style: black;
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-style: thin;
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: light;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: 700;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: black;
  font-weight: 900;
}

body {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
  color: #2F374A;
  text-decoration: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 15px;
}

ul li:hover {
  color: #BB3D44;
}

ul li:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul ul {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 2;
  top: 100%;
  left: 0;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 54px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

.btn {
  border-radius: 8px;
  padding: 20px 30px;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
}

.btn-red {
  background-color: #BB3D44;
  color: #1D2842;
  border: none;
}

form input[type="text"] {
  padding: 20px 30px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #ffffff;
}
